---
layout: page
---

<section>
  <p>Hello and welcome. I'm a software developer from the UK and I've been writing code for the web since 2011.</p>
</section>

<section>
  <div style="display: grid; grid-template-columns: 1fr 1fr 1fr;">
    <a href="/writing">/writing</a>
    <a href="/why">/why</a>
    <a href="/uses">/uses</a>
    <a href="https://jsrn.net/talks">/talks</a>
  </div>
</section>

<section>
  <ul class="post-list">
    {%- for post in site.posts limit: 5 -%}
    <li>
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}

        <a class="post-link" data-date=" &bull; {{ post.date | date: date_format }}" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>

      {%- if post.description -%}
        <p class="post-description">{{ post.description }}</p>
      {%- endif -%}
    </li>
    {%- endfor -%}
  </ul>
</section>

<section>
  <div class="project-container">
    {% for project in site.data.projects %}
    <div class="project-box">
      <a href="{{ project.url }}">{{ project.name }}</a>
      <p>{{ project.description }}</p>
      {% for tag in project.tags %}
      <code>{{ tag }}</code>
      {% endfor %}
    </div>
    {% endfor %}
  </div>
</section>
