---
layout: page
---

<section>
  <ul class="post-list">
    {%- for post in site.posts limit: 5 -%}
    <li>
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y"
      -%}

      <a class="post-link monospace" href="{{ post.url | relative_url }}">
        {{ post.title | escape }}
      </a>

      <p class="post-description baskerville">
        {{ post.description }}

        <small>&bull; {{ post.date | date: date_format }}</small>
      </p>
    </li>
    {%- endfor -%}
  </ul>
</section>

<section>
  <div class="project-container">
    {% for project in site.data.projects %}
    <div class="project-box">
      <a class="monospace" href="{{ project.url }}">{{ project.name }}</a>
      <p>{{ project.description }}</p>
      {% for tag in project.tags %}
      <code>{{ tag }}</code>
      {% endfor %}
    </div>
    {% endfor %}
  </div>
</section>
