---
layout: page
---

<section>
  <p>James is a software developer from the United Kingdom who has been making web applications since 2011.</p>

  <p>He cares about using clean, robust code to build software that works.</p>

  <p>He likes movies and pretending that someone else wrote his professional bio.</p>
</section>

<section>
  <ul class="post-list">
    {%- for post in site.posts limit: 5 -%}
    <li>
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}

        <a class="post-link" data-date=" &bull; {{ post.date | date: date_format }}" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>

      {%- if post.description -%}
        <p class="post-description">{{ post.description }}</p>
      {%- endif -%}
    </li>
    {%- endfor -%}
  </ul>
</section>

<section>
  <p>You can read some of my older posts <a href="/writing">here</a>.</p>
</section>

<section>
  <div class="project-container">
    {% for project in site.data.projects %}
    <div class="project-box">
      <a href="{{ project.url }}">{{ project.name }}</a>
      <p>{{ project.description }}</p>
      {% for tag in project.tags %}
      <code>{{ tag }}</code>
      {% endfor %}
    </div>
    {% endfor %}
  </div>
</section>
