<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-6">
        <p>Thanks for reading. If you have any questions or want to talk about anything here, I'd love to hear from you. Email me at <a href="mailto:jsrn@hey.com">jsrn@hey.com</a>. We can be pals or you can tell me how bad my opinions are or both.</p>

        <p>{{- site.description | escape -}}</p>

        <p>
          <a href="https://github.com/jsrn">GitHub</a> &bull; <a href="https://codepen.io/jsrn">CodePen</a> &bull; <a href="{{ 'feed.xml' | relative_url }}">RSS</a>
        </p>
      </div>
    </div>
  </div>
</footer>
