<head>
  {% if page.title %}
  <title>{{ page.title }} - jsrn.net</title>
  {% else %}
  <title>jsrn - software developer, rubyist, friend</title>
  {% endif %}
  <link type="image/png" href="/assets/images/icon32.png" rel="icon">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%- seo -%}
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  {%- feed_meta -%}

  <!-- Twitter cards -->
  {% if page.title %}
  <meta name="twitter:title"   content="{{ page.title }} - jsrn.net">
  {% else %}
  <meta name="twitter:title"   content="jsrn - software developer, rubyist, friend">
  {% endif %}
  {% if page.description %}
  <meta name="twitter:description" content="{{ page.description }}">
  {% else %}
  <meta name="twitter:description" content="{{ site.description }}">
  {% endif %}
  <!-- end of Twitter cards -->
</head>
