@function rainbowTailWithOffset($offset) {
  $val: 0px 0px hsl(0, 100, 50);
  @for $i from 1 through 36 {
    $val: #{$val}, #{($i * 10) / 4}px #{($i * 10) / 4}px hsl((($i * 10) + $offset) % 358, 
100, 50);
  }
  @return $val;
}

* {
  font-family: 'Comic Sans MS', sans-serif;
}

body {
  background: green;
}

.shadow-me {
  font-size: 5em;
  padding: 20px;
  font-weight: bold;
  text-shadow: rainbowTailWithOffset(400);
  color: hsl(1, 150, 50);
  animation-name: wow;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes wow {
  @for $i from 0 through 10 {
    $percent: 0% + ($i * 10);
    
    #{$percent} {
      color: hsl((3.58 * ($i * 10)), 100, 50);
      text-shadow: rainbowTailWithOffset(3.58 * ($i * 10)); }
  }
}
