---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.parent {
	width: 100%;
}

a {
	color: #D1442F;
}

header {
	margin-top: 20px;
}

header h1 a{
	font-weight: bold;
	display: flex;
	align-items: center;
}

header a {
	color: inherit;
}

header a:hover,
header a:visited {
	text-decoration: none;
	color: inherit;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 2rem;
}

header img {
	height: 100px;
	vertical-align: middle;
	margin-right: 10px;
	transform: rotate(-10deg);
}

header .secondary {
	color: #D1442F;
}

body {
	font-size: 16pt;
}

.starmilk {
	position: fixed;
	bottom: -50px;
	opacity: .5;
	z-index: -1;
}

.zine-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 10px;
}

@media (max-width: 600px) {
	.gutter {
		display: none;
	}

	.main {
		width: 100%;
		margin: 0 10px;
		flex: none;
		max-width: 100%;
	}

	.starmilk {
		opacity: .1;
		z-index: -1;
	}

	.zine-container {
		display: grid;
		grid-template-columns: 1fr;
	}
	
	.zine-container img {
		width: 100%;
	}
}

img {
	max-width: 100%;
}

.header-image {
	width: 100%;
}

.hover-horse + img {
	display: none;
}

.hover-horse:hover + img {
	display: block;
	max-width: 100vw;
	position: fixed;
	top: 10px;
	right: 10px;
}

.post-link:after {
	content: attr(data-date);
	font-size: 0.7em;
	color: hsl(1, 43%, 65%);
}

.post-link {
	line-height: 1.2;
}

.post-description {
	margin-top: 10px;
}

.main-content-container {
	width: 30em;
	margin: 0 auto;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .main-content-container {
		width: calc(100vw - 20px);
		margin: 0 10px;
	}

	header {
		margin-top: 0;
	}

	header h1 {
		margin: 0;
	}

	#lightbulb,
	#lightpull,
	header img {
		display: none;
	}
}

#lightbulb {
	height: 200px;
	position: fixed;
	top: -50px;
	right: 30px;
}

#lightpull {
	height: 200px;
	position: fixed;
	top: -100px;
	right: 20px;
	cursor: pointer;
}

#lightpull:active {
	top: 0;
	transition: .1s;
}

.dark-mode body {
	background: #16161d;
	color: #fdfdfd;
}

.dark-mode code {
	color: #111;
}

.dark-mode a:hover {
	color: hsl(1, 100%, 80%);
}