<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    {% if page.header_image %}
    <img src="/{{ page.header_image }}" alt="" class="header-image">
    {% endif %}

    <a href="/" class="header-link">
      <img src="/assets/images/jsrnnet.png" alt="JSRN.NET" width="310" height="75" style="margin-bottom: 1rem;" class="jsrn-net-logo">
    </a>

    <div class="main-content-container">
        {{ content }}
    </div>

    {%- include footer.html -%}
  </body>
</html>
