---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
  <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
  <p class="post-meta">

  {%- if page.category != "monthnotes" -%}
  <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
    {{ page.date | date: date_format }}
  </time>

    {%- if page.updated -%}
      <i>(Updated {{ page.updated }})</i>
    {%- endif -%}
  {%- endif -%}

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  <span><img src="/assets/images/icon32.png" alt=""></span>

  <div class="post-content e-content" itemprop="articleBody" style="margin-top: 1em; margin-bottom: 0;">
    <small>Respond to this post <a href="mailto:james@jsrn.net?subject=Re: {{ page.title | escape }}">via e-mail</a></small>
  </div>

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
